@{
    ViewBag.Title = "Kiron Roy's Résumé";
}
<h2>@ViewBag.Title.</h2>

<div class="clear"></div>

<!DOCTYPE html>
<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Kiron Roy: Resume</title>
    <link href="resumestyle.css" rel="stylesheet" type="text/css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="https://kironroy.github.io/apple-touch-icon.png" rel="apple-touch-icon" />
    <link href="https://kironroy.github.io/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />
    <link href="https://kironroy.github.io/apple-touch-icon-167x167.png" rel="apple-touch-icon" sizes="167x167" />
    <link href="https://kironroy.github.io/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180" />
    <link href="https://kironroy.github.io/icon-hires.png" rel="icon" sizes="192x192" />
    <link href="https://kironroy.github.io/icon-normal.png" rel="icon" sizes="128x128" />
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" -->
</head>

<body id="top">
    <div class="instaFade" id="cv">
        <div class="mainDetails">
          
            <div id="name">
                <br>
                <h1>Contact</h1>
            </div>
            <div class="quickFade delayFour" id="contactDetails">
                <br>
                <ul>
                    <li>
                        <i class="fab fa-windows"></i><a href="mailto:kironroydev@outlook.com?Subject=Regarding%20your%20portfolio:" target="_blank">
                            kironroydev@outlook.com
                        </a>
                    </li>
                    <li>
                        <i class="fab fa-github-square"></i><a href="https://github.com/kironroy"> Repositories</a>
                    </li>
                    <li>
                        <i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/kironroy/"> LinkedIn</a>
                    </li>

                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="quickFade delayFive" id="mainArea">
            <hr />
            <section>
                <div class="sectionTitle">
                    <h1>Work Experience</h1>
                </div>
                <div class="sectionContent">
                    <article>
                        <h2>Front-end web services</h2>
                        <br>
                        <p class="subDetails companyName">Om Imports</p>
                        <p class="subDetails presentDetails">July 2011 - August 2012, July 2018 - November 2018</p>
                        <p>
                            Product Photography. Editing photographs with Photoshop and updating the company website: <a href="https://www.omimports.com/default.asp">Om Imports</a>.
                        </p>
                    </article>
                    <article>
                        <h2>Bookkeeper</h2>
                        <br>
                        <p class="subDetails companyName">Rita Roy Pediatrics</p>
                        <p class="subDetails presentDetails">October 2010 - Present (Telecommunicate)</p>
                        <p>
                            Bookkeeping with Excel.<br>
                            <em>
                                Billing/Posting payments to <a href="https://pm.officeally.com/pm/login.aspx">
                                    Office
                                    Ally
                                </a>
                            </em>.<br>
                            Payroll taxes for two employees with <a href="https://www.eftps.gov/eftps/">EFTPS</a>.<br>
                            Billing Information <a href="https://repl.it/FlPz/61">Ruby Language</a>.<br>
                            Rita Page <a href="https://kironroy.github.io/rita2.html">Vue JavaScript Framework</a>.
                        </p>
                    </article>
                    <article>
                        <h2>Accounting Intern</h2>
                        <br>
                        <p class="subDetails companyName">Downey Hospital (now PIH)</p>
                        <p class="subDetails">July 2012 - August 2013</p>
                        <p>
                            Entering invoices with Mediclick. Maintaining an Excel sheet that tracks purchase orders and
                            manual invoices.
                        </p>
                    </article>

                </div>
                <div class="clear"></div>
            </section>
            <hr />
            <section>
                <div class="sectionTitle">
                    <h1>Key Skills</h1>
                </div>
                <div class="sectionContent">
                    <ul class="keySkills">
                        <li>Adobe Photoshop</li>
                        <li>Excel 2019</li>
                        <li>C#</li>
                        <li>Git</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>Visual Studio</li>
                        <li>Visual Studio Code</li>
                        <li>Sketch 3</li>
                        <li>SQL</li>
                        <li>macOS bash</li>
                        <li>Vue.js</li>
                    </ul>
                </div>
                <div class="clear"></div>
            </section>
            <hr />
            <section>
                <div class="sectionTitle">
                    <h1>Education</h1>
                </div>
                <div class="sectionContent">

                    <article>
                        <h2>C# Foundation Series: Modules 1 through 9 </h2>

                        <p class="subDetails companyName">
                            <a href="https://kironroy.github.io/certificate-of-completion-for-foundation-in-c-hotel-management-app .pdf">
                                Certificate
                                Module 9 Certificate (Hotel Management App)
                            </a>
                        </p>
                        </p>

                        <h2>SQL Basics</h2>
                        <p class="subDetails companyName">
                            <a href="certificate-of-completion-for-sql-databases-from-start-to-finish.pdf">
                                Certificate
                                SQL Databases: From Start to Finish Bundle
                            </a>
                        </p>
                        </p>

                    </article>

                    <article>
                        <h2>CSUF Extension</h2>

                        <p class="subDetails companyName">
                            <a href="https://kironroy.github.io/kiron_roy_gis_cert.pdf">
                                Certificate
                                in Geographic Information Systems, 2014
                            </a>
                        </p>
                        <p class="subDetails">
                            <a href="https://kironroy.github.io/techshop_portland.pdf">
                                Tech Shop GIS
                                Project
                            </a>
                        </p>
                    </article>
               
                    <article>
                        <h2>UCLA</h2>
                        <p class="subDetails companyName">History BA, 2005</p>
                        <br>
                        <br>
                    </article>
                </div>
                <div class="clear"></div>
            </section>
        </div>
    </div>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost +
            "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-3753241-1");
        pageTracker._initData();
        pageTracker._trackPageview();
    </script>
</body>

</html>


