@{
    ViewBag.Title = "Home Page";
}



<br />

<div class="jumbotron">
    <center>
        <h1>Kiron Roy</h1>

    </center>

    <center>
        <img src="https://kironroy.github.io/kironphotoSmaller.jpg" alt="kiron" class="img-circle img-responsive img-thumbnail">
    </center>

        <p>
            I started learning C# in 2018 with the <a href="https://www.iamtimcorey.com/courses/category/CSharp">
                Foundation in
                C# Course.
            </a>
            I maintain a
            <a href="https://github.com/kironroy/kironroy.github.io/wiki/C-Sharp">C# Wiki page</a>
            to document my learning.

            You can find me on:
            <a href="https://teamtreehouse.com/kironroy">Treehouse</a>
            and <a href="https://www.jrdevjobs.com/profiles/kiron-roy">
                Jr
                Dev jobs.
            </a>
        </p>
        <center>
            <p><a href="https://kironroy.github.io/" class="btn btn-primary btn-lg">Full Portfolio</a></p>
        </center>
 </div>

    <hr />
    <center>


        <div class="row">

            <!-- GitHub -->
            <div class="col-md-3">
                <a href="https://github.com/kironroy?utf8=%E2%9C%93&tab=repositories&q=&type=&language=c%23">
                    <img border="0" alt="github" src="https://kironroy.github.io/github.svg" width="100" height="100">
                </a>
                <p></p>

                <p>
                    C# GitHub Repositories  Code editors used: <i>Visual Studio code</i>, <i>Visual Studio 2019</i>
                </p>
            </div>

            <!-- C# -->
            <div class="col-md-3">
                <a href="https://github.com/kironroy/kironroy.github.io/wiki/C-Sharp">
                    <img border="0" alt="github" src="https://kironroy.github.io/c_sharp.svg" width="110" height="110">
                </a>
                <p></p>

                <p>
                    C# Wiki page: <i>Visual Studio code</i>, <i>Visual Studio 2019</i>
                </p>
            </div>

            <!-- Sketches -->
            <div class="col-md-3">
                <a href="Home/Sketches">
                    <img border="0" alt="sketches" src="https://kironroy.github.io/sketches.svg" width="105" height="105">
                </a>
                <p></p>

                <p>
                    Black and white ink sketches created with <i>Micron</i> pigment pens, edited with <i>Photoshop</i>
                </p>
            </div>

            <!-- Night -->
            <div class="col-md-3">
                <a href="Home/Night">
                    <img border="0" alt="camera" src="https://kironroy.github.io/night2.svg" width="115" height="115">
                </a>
                <p></p>

                <p>
                    16 night photographs edited with <i>Photoshop</i>
                </p>
            </div>
        </div>

        <!--row 2-->

        </center>

