
@{
    ViewBag.Title = "Sketches";
}

<br>
<center><h3>Ink Sketches</h3></center>
<br>
<img data-src="https://cdn.glitch.com/8965a477-ca60-4955-b9f9-41258c7b8ece%2Fsketch13.jpg?1515201789130" />
<img data-src="https://cdn.glitch.com/8965a477-ca60-4955-b9f9-41258c7b8ece%2FIMG_1561.jpeg?v=1579596958224" />

<img data-src="https://cdn.glitch.com/8965a477-ca60-4955-b9f9-41258c7b8ece%2FIMG_3561.jpg?1532797428216" />
<img data-src="https://cdn.glitch.com/8965a477-ca60-4955-b9f9-41258c7b8ece%2FDSC_5178.jpg?1515353470996" />
<img data-src="https://cdn.glitch.com/8965a477-ca60-4955-b9f9-41258c7b8ece%2FIMG_3538.jpg?1531523816137" />
<img data-src="https://cdn.glitch.com/8965a477-ca60-4955-b9f9-41258c7b8ece%2Fsketch15.jpg?1515201791939" />
<img data-src="https://cdn.glitch.com/8965a477-ca60-4955-b9f9-41258c7b8ece%2Fsketch5.jpg?1515201794829" />

<img data-src="https://cdn.glitch.com/8965a477-ca60-4955-b9f9-41258c7b8ece%2FDSC_5173.jpg?1515402271308" />
<img data-src="https://cdn.glitch.com/8965a477-ca60-4955-b9f9-41258c7b8ece%2Fsketch11.jpg?1515201795047" />
<img data-src="https://cdn.glitch.com/8965a477-ca60-4955-b9f9-41258c7b8ece%2Fsketch17.jpg?1515201797164" />
<img data-src="https://cdn.glitch.com/8965a477-ca60-4955-b9f9-41258c7b8ece%2Fsketch3.jpg?1515201798485" />

<img data-src="https://cdn.glitch.com/8965a477-ca60-4955-b9f9-41258c7b8ece%2Fsketch10.jpg?1515201800865" />

<img data-src="https://cdn.glitch.com/8965a477-ca60-4955-b9f9-41258c7b8ece%2Fsketch12.jpg?1515201804708" />
<img data-src="https://cdn.glitch.com/8965a477-ca60-4955-b9f9-41258c7b8ece%2Fsketch1.jpg?1515201808389" />
<img data-src="https://cdn.glitch.com/8965a477-ca60-4955-b9f9-41258c7b8ece%2FIMG_1556.jpeg?v=1579588252201" />


<img data-src="https://cdn.glitch.com/8965a477-ca60-4955-b9f9-41258c7b8ece%2Fsketch6.jpg?1515201897475" />
<img data-src="https://cdn.glitch.com/8965a477-ca60-4955-b9f9-41258c7b8ece%2Fsketch18.jpg?1515204703502" />
<img data-src="https://cdn.glitch.com/8965a477-ca60-4955-b9f9-41258c7b8ece%2Fsketch00021.jpg?1531688360081" />
<img data-src="https://cdn.glitch.com/8965a477-ca60-4955-b9f9-41258c7b8ece%2Fven.jpg?1532397506727" />
<img data-src="https://cdn.glitch.com/8965a477-ca60-4955-b9f9-41258c7b8ece%2FIMG_3266%202.jpg?1516430478265" />
<img data-src="https://cdn.glitch.com/8965a477-ca60-4955-b9f9-41258c7b8ece%2FIMG_3556.jpg?1532661791152" />



<!-- russian church and norway -->
<img data-src="https://cdn.glitch.com/8965a477-ca60-4955-b9f9-41258c7b8ece%2Fnorway.jpg?v=1579649305693" />
<img data-src="https://cdn.glitch.com/8965a477-ca60-4955-b9f9-41258c7b8ece%2Frussia.png?v=1579651252641" />

<script>
    // tell the embed parent frame the height of the content
    if (window.parent && window.parent.parent) {
        window.parent.parent.postMessage(["resultsFrame", {
            height: document.body.getBoundingClientRect().height,
            slug: "Lh04q5Lv"
        }], "*")
    }
</script>

<script type="text/javascript">
    //<![CDATA[
    window.onload = function () {
        // Awesome responsive images! Yay!
        imgs = document.images;
        for (i = 0; i < imgs.length; i++) {
            imgs[i].style.maxWidth = "100%";
            imgs[i].src = imgs[i].getAttribute("data-src") + window.screen.width;
        }
    } //]]>
</script>


